<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mendolearn" version="0.1.0">
  <name>Mendolearn</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="kishigo8@gmail.com">
    elyft
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
